.dollar {
  width: 65px;
  height: 29px;
  border: none;
  background: #fff;
  border-radius: 6px;
  font-size: 16px;
}

.dollar:hover {
  background: #d3d3d3;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse .1s 1 ease-in-out;
}