@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100vh;
}

html, body {
  overflow-x: auto;
  height: 100vh;
  width: 100%;
}
  *, *:before, *:after {
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  /* border: 1px solid red; */
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}
  ol, ul {
  list-style: none;
  }
  img {
  max-width: 100%;
  height: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  html {
    scrollbar-width: none;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none !important;
    cursor: crosshair;
  }
  
  body {
    -ms-overflow-style: none;
    background: #000;
    background-size: 40px 40px;
  background-image: radial-gradient(circle, #ffffff30 1px, rgba(0, 0, 0, 0) 1px);
  opacity: 0;
  animation: fadeIn .2s ease-in forwards;
}

html, body {
  overflow-x: hidden;
  overflow-y: hidden; /* Prevent vertical scrolling */
}

img {
  user-select: none;   /* Prevent text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
  pointer-events: none;      /* Disable click/drag/touch interactions */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
  /* nav */
  
  .nav {
    position: fixed;
    top: 0;
    background: #000;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
  }
  
  .logo {
    width: 40px;
  }
  
  .logo-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .balance-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #fff;
    width: fit-content;
    min-width: 60px;
    gap: 5px;
    height: 42px;
  }
  
  .balance::before {
    content: '$';
  }

  .nav-name {
    font-size: 13px;
    color: #666;
  }
  
  /* nav */

.container {
  height: 550px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.game-section {
  transform: scale(.8);
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.dep-section {
  width: 400px;
  height: 150px;
  padding: 20px;
  gap: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  /* border: 1px solid red; */
}

.input-dep {
  width: 200px;
  height: 50px;
  border: none;
  /* border: 1px solid red; */
  background: #111;
  outline-style: none;
  font-size: 30px;
  color: #fff;
  padding-left: 12px;
}

.input-dep::placeholder {
  opacity: 0.2;
  font-weight: 100;
}

.btn-dep {
  width: 80px;
  height: 50px;
  background: #333;
  outline-style: none;
  font-size: 25px;
  color: #fff;
  padding-left: 10px;
  border: none;
  /* border: 1px solid red; */
  line-height: 50px;
}

.btn-stop {
  width: 280px;
  height: 50px;
  font-size: 27px;
  background: #111;
  outline-style: none;
  color: #fff;
  border: none;
  cursor: crosshair;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  position: absolute;
}

.btn-stop.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; /* Disables clicks */
}

button {
  cursor: crosshair;
}

.game-block {
  /* background: #fff; */
  opacity: 0.2;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.modal {
  width: 250px;
  height: 110px;
  backdrop-filter: blur(7px); 
  border: 1px solid #ffffff10;
  border-radius: 16px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  pointer-events: auto;
  filter: brightness(1) !important;
  opacity: 0;
  transition: opacity .2s ease, transform .2s ease;
}

.modal-active .modal-overlay {
  opacity: 1;
}

nav, nav * {
  pointer-events: auto !important;
  z-index: 1001;
}

body.modal-active *:not(nav *, nav, .modal, .modal *) {
  pointer-events: none;
}

.coefs {
  width: 100%;
  height: 30px;
  background: #222;
  position: absolute;
  top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coef-block {
  background: #333;
  color: white;
  border: 1px solid #000;
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: background .5s ease;
}

/* .coef-block::before {
  content: "x";
} */

.probably-win {
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 15px;
  /* border: 1px solid red; */
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .5s ease;
}

.probably-win::before {
  content: '$';
}

.login-modal {
  background: red;
  width: fit-content;
  text-wrap: nowrap;
  font-size: 14px;
  font-weight: 700;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #333;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 25px 4px 25px;
  position: absolute;
  z-index: 2200;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility .2s ease, opacity .2s ease, top .3s ease;
}

.login-modal.appear {
  visibility: visible;
  opacity: 1;
  top: 15%;
}

@media (min-width: 768px) {
  body {
    /* background: #222; */
  }
  .container {
    transform: scale(1.2);
    height: 600px;
  }
}

.mini-btns-div {
  position: absolute;
  /* border: 1px solid red; */
  top: 16px;
  width: 290px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.mini-btns-div > * {
  flex: 1;
  height: 100%;
  border: none;
  background: #333;
  outline-style: none;
  border: none;
  font-size: 18px;
  color: #fff;
  border-radius: 4px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: background .2s ease;
}

.mini-btns-div > *:hover {
  background: #555;
}

.mini-btns-div.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.input-dep.hidden, .btn-dep.hidden  {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.block-interactions {
  pointer-events: none !important;
  cursor: wait !important;
  transition: filter .5s ease;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
