.game-section {
  position: relative;
}

.tales {
  height: 50%;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  overflow: hidden;
  gap: 10px;
  padding: 10px;
}

.tale {
  height: 180px;
  width: 180px;
  background-image: url(/closedChest.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  border: 1px solid #00000030;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale() invert();
  transition: transform .5s .3s ease, opacity 0s ease;
}

.tale1 {
  /* transform: scaleX(-1); */
}