/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Sans:wght@700&display=swap'); */
html {
box-sizing: border-box;
font-size: 16px;
height: 100vh;
}
*, *:before, *:after {
box-sizing: inherit;
font-family: 'Roboto Sans', sans-serif;
font-weight: 700;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
}
ol, ul {
list-style: none;
}
img {
max-width: 100%;
height: auto;
}

a {
  text-decoration: none;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none !important;
}

* {
  cursor: crosshair;
}

body {
  -ms-overflow-style: none;
  height: fit-content;
  min-height: 100vh;
  background: #000;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #ffffff10 1px, rgba(0, 0, 0, 0) 1px);
}

/* nav */

.nav {
  position: fixed;
  top: 0;
  background: #000;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  z-index: 1000;
}

.logo {
  width: 40px;
}

.logo-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.balance-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  width: 100px;
  height: 40px;
  transition: visibility 1s ease;
}

.balance::before {
  content: '$';
}

/* nav */

.container {
  /* border: 1px solid red; */
  height: fit-content;
  max-width: 1200px;
  margin: 120px auto 0 auto; /* This centers horizontally */
  display: grid;
  grid-template-columns: repeat(auto-fit, 310px);
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 40px;
}

.card {
  width: 310px;
  max-height: 214px;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #111;
}

.card-img {
  transform: scale(.9);
  max-height: 174px;
  filter: grayscale();
}

.card-img-invert {
  filter: invert();
}

.card-section {
  width: 100%;
  height: 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0 14px;
  z-index: 2;
  background: #111;
}

h1 {
  font-size: 17px;
  color: white;
}

.btn-play {
  width: 60px;
  height: 28px;
  border: none;
  background: #fff;
  border-radius: 5px;
  font-size: 16px;
}

.btn-link {
  display: block;
  color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-acc {
  background: url('sims.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acc-modal {
  width: 0;
  height: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 20px;
  top: 10px;
  z-index: 2000;
  visibility: hidden;
  opacity: 0;
  /* background: #111; */
  backdrop-filter: blur(10px); 
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #333;
  transition: opacity .2s ease, visibility .2s ease, height .2s ease, width .3s ease;
}

.acc-modal.opened {
  visibility: visible;
  opacity: 1;
  width: 320px;
  height: 220px;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  border: none;
  border-radius: 5px;
  background: #000;
  color: white;
}

.modal-row {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.modal-pfp {
  width: 100px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff30;
  border-radius: 10px;
  background: url('/modal-pfp.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-info {
  height: 80px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-name {
  width: 100%;
  flex: 1;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.modal-balance {
  width: 100%;
  flex: 1;
    font-size: 18px;
  display: flex;
  align-items: center;
}

.modal-balance::before {
  content: "$";
  padding-right: 2px;
}

.modal-logout {
  width: 215px;
  height: 40px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.modal-logout-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
}

.balance-add {
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  filter: grayscale();
}

.balance-add-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 23px;
}

.acc-modal * {
  /* border: 1px solid red; */
}