@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
html {
box-sizing: border-box;
font-size: 16px;
height: 100vh;
}
*, *:before, *:after {
box-sizing: inherit;
font-family: "Poppins", sans-serif;
font-weight: 700;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
}
ol, ul {
list-style: none;
}
img {
max-width: 100%;
height: auto;
}

a {
  text-decoration: none;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none !important;
}

* {
  cursor: crosshair;
}

body {
  -ms-overflow-style: none;
  height: fit-content;
  background: #000;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #ffffff15 1px, rgba(0, 0, 0, 0) 1px);
  opacity: 0;
  animation: fadeIn .2s ease-in forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  overflow-x: hidden;
  overflow-y: hidden; /* Prevent vertical scrolling */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
/* nav */

.nav {
  position: fixed;
  top: 0;
  /* background: #000; */
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  z-index: 1000;
}

.logo {
  width: 40px;
}

.logo-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-modal {
  background: red;
  width: fit-content;
  text-wrap: nowrap;
  font-size: 14px;
  font-weight: 700;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #333;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 25px 4px 25px;
  position: absolute;
  z-index: 2200;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility .2s ease, opacity .2s ease, top .3s ease;
}

.login-modal.appear {
  visibility: visible;
  opacity: 1;
  top: 15%;
}

.container {
  margin-top: 12px;
  max-width: 700px;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.login-title {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 12px;
  /* border: 1px solid red; */
  height: 78vh;
  position: relative;
  padding-top: 20px;
}

input {
  background: #222;
  border: none;
  height: 56px;
  border-radius: 10px;
  padding: 12px 15px;
  color: white;
  font-size: 19px;
  outline: none;
}

input::placeholder {
  font-weight: normal;
  opacity: 0.6;
}

input:focus {
  border-color: #444;
}

.login-btn {
  background: white;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 12px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.login-btn:hover {
  opacity: 0.9;
}

.login-footer {
  margin-top: 20px;
  text-align: center;
  color: #777;
  font-size: 14px;
}

.footer-link {
  color: white;
  text-decoration: underline;
}

.password-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  position: relative;
}

#password {
  width: 100%;
}

.checkbox {
  appearance: none;
  position: absolute;
  right: 10px;
  accent-color: rgb(65, 65, 65);
  border: none;
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox > svg {
  color: #fff !important;
  opacity: 0.6;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
  20%, 40%, 60%, 80% { transform: translateX(5px); }
}

.shake-animation {
  animation: shake 0.5s ease-in-out;
  border-color: #ffffff;
}

.password-rules {
  width: 100%;
  height: 0;
  font-size: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  opacity: 0;
  transition: height .3s ease, opacity .4s ease;
}

.password-rules.expand {
  height: 40px;
  opacity: 1;
}

@media (min-width: 764px) {
  .login-form {
    justify-content: center;
  }
}