body {
  /* height: 100vh; */
  /* overflow: hidden; */
}

.balance-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #fff;
  width: fit-content;
  min-width: 60px;
  gap: 5px;
  height: 42px;
}
  
.balance::before {
  content: '$';
}

.nav-name {
  font-size: 13px;
  color: #666;
}

.container-history {
  height: fit-content;
  max-width: 600px;
  margin: 120px auto 0 auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 10px;
  position: relative;
  /* border: 1px solid red; */
}

.card {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #000;
  border-radius: 6px;
  padding: 20px;
  border: 1px solid #222;
  position: relative;
}

.card * {
  /* border: 1px solid red; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  color: #fff;
  font-size: 17px;
  padding-left: 9px;
}

.card-amount {
  color: #fff;
  font-size: 16px;
}

.card-amount::after {
  content: '$';
  padding-left: 2px;
}

.triangle {
  width: 10px;
  height: 10px;
  color: white;
  position: absolute;
  left: 9px;
}

.card-time {
  color: white;
  font-weight: 100;
  font-size: 11px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity .3s ease;
}

.card-time:hover {
  opacity: .6;
}

.date-title {
  width: 100%;
  color: #fff;
  right: 0;
  height: 70px;
  display: flex;
  align-items: flex-end;
  font-size: 13px;
}

.display-income {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 65px;
  right: 40px;
  background: #000;
  border: 1px solid #222;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background .1s ease;
}

.display-income > svg {
  width: 17px;
}

.display-games {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 65px;
  right: 90px;
  background: #000;
  border: 1px solid #222;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background .1s ease;
}

.display-games > svg {
  width: 22px;
}

.games-div {
  width: 200px;
  max-height: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 89px;
  top: 110px;
  z-index: 2000;
  visibility: hidden;
  opacity: 0;
  background: #000;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  /* border: 1px solid #333; */
  box-shadow: 0 0 7px 2px #ffffff21;
  transition: opacity .3s ease, visibility .3s ease, max-height .2s ease;
}

.games-div.show {
  visibility: visible;
  opacity: 1;
  width: 200px;
  max-height: 500px;
}

.games-div > * {
  font-size: 17px;
  border: 1px solid #222;
  height: 40px;
  display: flex;
  /* justify-content: center; */
  padding-left: 17px;
  align-items: center;
  width: 100%;
  transition: background .1s ease;
}

.display-income:hover {
  background: #1d1d1d;
}

.display-games:hover {
  background: #1d1d1d;
}

.games-div > *:hover {
  background: #0a0a0a;
}